.container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 700ms ease-in-out;
}